// ******** Variables ********
$primary: #20325A;
$bg: #F6F6F6;
$bgdark: #F3F3F3A3;
$white: #fff;
$offWhite: #F9F9F9;
$secondary: #3D6098;
$black: #1A1A1A;
$gray: #5B5B5B;
$lightgray: #757575;
$borderLightColor: #E1E1E1;
$borderColor: #A8A8A8;
$borderDarkColor: #121F3B;
$formborder: #dee2e6;
$danger: #EF4B4C;
$success: #39A234;
$textColor: #1A1A1A;
$shadowSm: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
$shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
$shadowMd: 5px 5px 0px #00000012;
$shadowLg: rgba(0, 0, 0, 0.08) 0px 6px 16px -8px, rgba(0, 0, 0, 0.05) 0px 9px 28px, rgba(0, 0, 0, 0.03) 0px 12px 48px 16px;
$inputBorder: 0.5px solid #A8A8A8;
$borderRadiusSm: 3px;
$borderRadius: 5px;
$borderRadiusLg: 10px;
$borderRadiusXl: 15px;
$borderRadiusXXl: 25px;
$overRealy: #191919C9;




.drop-shadow {
  filter: drop-shadow(0px 3px 6px #0000000F);
}